<div class="container">
    <div class="row">
        <div class="well bs-component w-50">
            <form class="form-horizontal" action="signup" method="post">
                <fieldset>
                    <legend>Signup</legend>
                    <div class="form-group">
                      <label for="displayName" class="col-lg-2 control-label">Name</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="displayName" placeholder="Name" name="displayName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                      <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="userEmail">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                      <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="userPassword">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="btnSubmit">Submit</button>
                      </div>
                    </div>
                </fieldset>
                <legend><a href="/">Login</a></legend>
            </form>
        </div>
    </div>
</div>